.container{

}
.container h1{
    font-size: large;
    font-weight: 500;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.form input,
.form textarea{
    padding: 12px;
    border-radius: 2px;
    background-color: var(--bgSoft);
    border: none;
    color: var(--text);
}
.form button{
    padding: 12px;
    border-radius: 2px;
    background-color: var(--btn);
    border: none;
    color: var(--text);
}