:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: #fff;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  width: 1356px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}

@media (max-width: 1356px) {
  .container {
    width: 1024px;
 
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
    padding: 0px 20px;
    
  }
}
@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 475px;
    padding: 0px 10px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 360px;
  }
}