.container{
   display: flex;
   flex-direction: column;
   gap: 20px; 
   width: 30%;
   margin-bottom: 20px;
}

.top{
    display: flex;

}
.imgContainer{
    width: 90%;
    position: relative;
    height: 400px;
}
.img{
    object-fit: cover;
}
.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.link{
    text-decoration: underline;
}
.date{
    transform: rotate(270deg);
    margin: auto;
    font-size: 12px;
}
.title{
    width: 90%;
}
.desc{
    width: 90%;
    font-weight: 300;
}
@media(max-width:1024px){
    .container{
        width: 45%;
    }
}
/* @media(max-width:768px){
    .container{
        width: 50%;
    }
} */
@media(max-width:640px){
    .container{
        width: 70%;
    }
    .title{
        width: 100%;
    }
    .desc{
        width: 100%;
    }
}